* {
  box-sizing: border-box;
}
.Form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
}
.Input,
.Button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.Input {
  width: 100%;
  height: 42px;
  background: #f9f0da;
  padding-left: 15px;
}
.Button {
  height: 26px;
  color: aliceblue;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #f15b42;
  cursor: pointer;
}
.Button:before {
  font-size: 20px;
  font-weight: bold;
}
